<h1>Edit asset_graph</h1>

<form id="edit-asset_graph" name="asset_graph">
  <div class="field">
    <label for="graph"> graph:</label>
    <input type="text" name="graph" id="graph" value="<%= graph %>" >
  </div>

  <div class="field">
    <label for="file"> file:</label>
    <input type="text" name="file" id="file" value="<%= file %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Asset graph" />
  </div>

</form>

<a href="#/index">Back</a>