<h1>Listing asset_graphs</h1>

<table id="asset_graphs-table">
  <tr>
    <th>Graph</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Asset graph</a>