<h1>New asset_graph</h1>

<form id="new-asset_graph" name="asset_graph">
  <div class="field">
    <label for="graph"> graph:</label>
    <textarea cols="16" rows="6" name="graph" id="graph" value="<%= graph %>" />    
  </div>

  <div class="field">
    <label for="file"> file:</label>
    <input type="textarea" name="file" id="file" value="<%= file %>" />
    
  </div>

  <div class="actions">
    <input type="submit" value="Create Asset graph" />
  </div>

</form>

<a href="#/index">Back</a>