<h1>Listing asserts</h1>

<table id="asserts-table">
  <tr>
    <th>Assertname</th>
    <th>Community</th>
    <th>Shortdescription</th>
    <th>Version</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Assert</a>