<div id="domains"</div>
<script type="text/javascript">
	$(function(){
		window.router = new Sam2.Routers.DomainsRouter(<%= @domains.to_json.html_safe -%>);
		Backbone.history.start();
	});
</script>	
	
