<div id="asserts"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Sam2.Routers.AssertsRouter({asserts: <%= @asserts.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>