/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
circle.node {
    stroke: #74a1db;
    stroke-width: 1.5px;
}

line.link {
	fill: green;
    stroke: #999;
    stroke-opacity: .6;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.link.compose {
  stroke: green;
}

.link.include {
  stroke: green;
}

.link.aggregate {
  stroke: green;
}

.link.depend {
  stroke: green;
}

.link.use {
  stroke: green;
}

.link.support {
  stroke: green;
}



.link.realize {
  stroke-dasharray: 0,2 1;
}


.link.implement {
  stroke-dasharray: 0,2 1;
}

.link.refer {
  stroke-dasharray: 0,2 1;
}
