<h1>Listing domains</h1>

<table id="domains-table">
  <tr>
    <th>Name</th>
    <th>Fullpath</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Domain</a>