<h1>Edit solution</h1>

<form id="edit-solution" name="solution">
  <div class="field">
    <label for="solutionLabel"> solutionLabel:</label>
    <input type="text" name="solutionLabel" id="solutionLabel" value="<%= solutionLabel %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Solution" />
  </div>

</form>

<a href="#/index">Back</a>