<h1>Listing solutions</h1>

<table id="solutions-table">
  <tr>
    <th>Solutionlabel</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Solution</a>