<h1>Listing assets</h1>

<table id="assets-table">
  <tr>
    <th>Assetname</th>
    <th>Community</th>
    <th>Shortdescription</th>
    <th>Version</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Asset</a>